<%= form_for([@campaign, @sheet], html: { multipart: true }) do |f| %>
  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% @sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :spreadsheet, class: 'control-label' %>
    <div class="controls">
      <%= f.file_field :spreadsheet %>
    </div><!--// .controls -->
  </div>
  <div class="actions">
    <%= f.submit class: 'btn' %>
  </div>
<% end %>
