<h1>Listing keywords</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cost per click</th>
      <th>Clicks per day</th>
      <th>Campaign</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.name %></td>
        <td><%= keyword.cost_per_click %></td>
        <td><%= keyword.clicks_per_day %></td>
        <td><%= keyword.campaign_id %></td>
        <td><%= link_to 'Show', keyword %></td>
        <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
        <td><%= link_to 'Destroy', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keyword', new_keyword_path %>
