<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @keyword.name %>
</p>

<p>
  <strong>Cost per click:</strong>
  <%= @keyword.cost_per_click %>
</p>

<p>
  <strong>Clicks per day:</strong>
  <%= @keyword.clicks_per_day %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @keyword.campaign_id %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
